# Ignore everything
**

# Include the following
!.htmlnanorc
!client/**
!deno.json
!deno.lock
!entrypoint.sh
!healthcheck.sh
!LICENSE
!THIRD-PARTY-NOTICES.md
!plugins/**
!postcss.config.js
!server/**
!tailwind.config.js
!vite.config.js
